:root {
    --primary: #111;
    --secondary: #fff;
    --accent: #ff4d4d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
}

header {
    text-align: center;
    padding: 2rem;
    background-color: gray;
    color: var(--secondary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: rgb(255, 251, 251);
    position: sticky;
    top: 0;
}

.navbar .links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

.navbar .links a::after {
    content: '';
    height: 2px;
    width: 0;
    background: var(--accent);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar .links a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    text-align: center;
    padding: 4rem;
    background: url('https://via.placeholder.com/1200x400') center/cover;
    color: white;
}

.hero button {
    padding: 10px 20px;
    background: var(--accent);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.categories div {
    padding: 1rem 2rem;
    background: #eee;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.categories div:hover {
    background: var(--accent);
    color: white;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.card {
    background-color: rgb(147, 72, 72);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(11, 3, 3, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    transition: 0.3s;
}
img {
    animation: rotate 15s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}

.card:hover img {
    transform: scale(1.1);
}

.card button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: var(--accent);
}

#msg {
    text-align: center;
    color: green;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary);
    color: rgb(226, 217, 232);
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .categories {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
